# 1.자료형

## 1.1.리스트 자료형

### 리스트의 인덱싱과 슬라이싱

In [2]:
odd = [1,3,5,7,9]

In [10]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
print(e[2])
print(e[2][0])
print(e[2][1])

['Life', 'is']
Life
is

In [ ]:
# 리스트의 인덱싱과 연산
print(b[1]

In [9]:
# 리스트의 슬라이싱
a = [11, 22, 33, 44, 55]
print(a[:])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::-1])

[11, 22, 33, 44, 55]
[33, 44, 55]
[11, 22]
[44, 55]
[55, 44, 33, 22, 11]

### 리스트 연산, 수정, 삭제

In [8]:
a = [11,22,33]
b = [44,55,66]
# 리스트 더하기
print(a+b)
# 리스트 반복하기
c = a * 3
print(c)
len(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

9

In [17]:
# 리스트 값 수정하기
a = [11,22,33]
a[2] = 44
print(a)
# a[3] = 55 # 없는 요소를 수정하는 것은 에러
# print(a)
# a[1] = '' # 빈칸 삽입
# a[1] = 0 # 0으로 수정 삽입
# 리스트 값 삭제하기
del a[1]
print(a)

[11, 22, 44]
[11, 44]

In [18]:
# 리스트 값 슬라이싱으로 삭제
print(c)
del c[:]
print(c)

['Life', 'is', 'too', 'short']
[]

In [ ]:
[11, 22, 33, 11, 22, 33, 11, 22, 33]

### 리스트 관련 함수

In [19]:
# 리스트 요소 비우기
c.clear()
print(c)

[]

In [ ]:
a=[] # 리스트 초기화

In [21]:
# 리스트에 요소 추가하기 - append
a.append(4)
print(a)
a.append([11,22])
print(a)

[11, 44, 4, [11, 22], 4]
[11, 44, 4, [11, 22], 4, [11, 22]]

In [22]:
# 리스트 정렬(오름차순) - sort
a = [11,44,33,22,55]
a.sort()
print(a)

[11, 22, 33, 44, 55]

In [24]:
# 리스트 정렬 (내림차순) - sort
a = [11, 44, 33, 22, 55]
a.sort(reverse=True)
print(a)

[55, 44, 33, 22, 11]

In [28]:
# 리스트 정렬 원본 유지하기
aa = [66,77,88,99,0]
bb = sorted(aa)
cc = sorted(aa,reverse=True)
print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [25]:
# 리스트 뒤집기 - reverse
a = [11, 44, 33, 22, 55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [26]:
# sorted 응용
fruit = ['banana', 'kiwi', 'orange', 'melon','pear','apple','strawberry','blueberry']
result = sorted(fruit,key=len)
result2 = sorted(fruit,key=len,reverse=True)
print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
['kiwi', 'pear', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'apple', 'kiwi', 'pear']

In [29]:
print('과일을 먹어볼까?')
for r in result :
    if r == 'banana':
        print(r + '못먹겠어! 웩!')
    if r != 'banana':
        print(r + ' 냠냠 맛있다.')
print('와 ~ 다먹었다.')

과일을 먹어볼까?
kiwi 냠냠 맛있다.
pear 냠냠 맛있다.
melon 냠냠 맛있다.
apple 냠냠 맛있다.
banana못먹겠어! 웩!
orange 냠냠 맛있다.
blueberry 냠냠 맛있다.
strawberry 냠냠 맛있다.
와 ~ 다먹었다.

In [ ]:
# 리스트 요소 제거