# 자료형

## 리스트 자료형

### 리스트의 인덱싱과 슬라이싱

In [2]:
odd = [1,3,5,7,9]

In [10]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
print(e[2])
print(e[2][0])
print(e[2][1])

['Life', 'is']
Life
is

In [ ]:
# 리스트의 인덱싱과 연산
print(b[1]

In [9]:
# 리스트의 슬라이싱
a = [11, 22, 33, 44, 55]
print(a[:])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::-1])

[11, 22, 33, 44, 55]
[33, 44, 55]
[11, 22]
[44, 55]
[55, 44, 33, 22, 11]

### 리스트 연산, 수정, 삭제

In [8]:
a = [11,22,33]
b = [44,55,66]
# 리스트 더하기
print(a+b)
# 리스트 반복하기
c = a * 3
print(c)
len(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

9

In [17]:
# 리스트 값 수정하기
a = [11,22,33]
a[2] = 44
print(a)
# a[3] = 55 # 없는 요소를 수정하는 것은 에러
# print(a)
# a[1] = '' # 빈칸 삽입
# a[1] = 0 # 0으로 수정 삽입
# 리스트 값 삭제하기
del a[1]
print(a)

[11, 22, 44]
[11, 44]

In [18]:
# 리스트 값 슬라이싱으로 삭제
print(c)
del c[:]
print(c)

['Life', 'is', 'too', 'short']
[]

In [ ]:
[11, 22, 33, 11, 22, 33, 11, 22, 33]

### 리스트 관련 함수

In [19]:
# 리스트 요소 비우기
c.clear()
print(c)

[]

In [ ]:
a=[] # 리스트 초기화

In [21]:
# 리스트에 요소 추가하기 - append
a.append(4)
print(a)
a.append([11,22])
print(a)

[11, 44, 4, [11, 22], 4]
[11, 44, 4, [11, 22], 4, [11, 22]]

In [22]:
# 리스트 정렬(오름차순) - sort
a = [11,44,33,22,55]
a.sort()
print(a)

[11, 22, 33, 44, 55]

In [24]:
# 리스트 정렬 (내림차순) - sort
a = [11, 44, 33, 22, 55]
a.sort(reverse=True)
print(a)

[55, 44, 33, 22, 11]

In [28]:
# 리스트 정렬 원본 유지하기
aa = [66,77,88,99,0]
bb = sorted(aa)
cc = sorted(aa,reverse=True)
print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [25]:
# 리스트 뒤집기 - reverse
a = [11, 44, 33, 22, 55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [26]:
# sorted 응용
fruit = ['banana', 'kiwi', 'orange', 'melon','pear','apple','strawberry','blueberry']
result = sorted(fruit,key=len)
result2 = sorted(fruit,key=len,reverse=True)
print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
['kiwi', 'pear', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'apple', 'kiwi', 'pear']

In [29]:
print('과일을 먹어볼까?')
for r in result :
    if r == 'banana':
        print(r + '못먹겠어! 웩!')
    if r != 'banana':
        print(r + ' 냠냠 맛있다.')
print('와 ~ 다먹었다.')

과일을 먹어볼까?
kiwi 냠냠 맛있다.
pear 냠냠 맛있다.
melon 냠냠 맛있다.
apple 냠냠 맛있다.
banana못먹겠어! 웩!
orange 냠냠 맛있다.
blueberry 냠냠 맛있다.
strawberry 냠냠 맛있다.
와 ~ 다먹었다.

In [9]:
# 리스트 요소 제거 - remove
a = [1,2,3,1,2,3]
a.remove(3)
print(a)
a.remove(3)
print(a)

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

In [6]:
# 리스트요소 끄집어 내기 - pop
a = [1,2,3]

In [7]:
hand = a.pop() # 리턴값을 받음
print(a)
print('받은거',hand)

[1, 2]
받은거 3

In [13]:
# 리스트에 포함된 요소 x의 개수 세기 - count
st = '안녕하세요 반가워요'
print(st.count('요'))
a = [1,2,3,4,5,2,3,4,5,2,7]
print(a.count(2))

2
3

In [16]:
# 리스트 확장
a = [1,2,3]
a.extend([4,5])
print(a)
b = [11,22,33]
c = [44,55,66]
print(b+c)

[1, 2, 3, 4, 5]
[11, 22, 33, 44, 55, 66]

In [ ]:
# 장바구니
bag = []

In [27]:
# Create 생성
inp = input('필요한 항목을 넣어주세요.')
bag.append(inp)
print(f'장바구니에는 {bag}들이 있습니다.')

필요한 항목을 넣어주세요. 호박, 소주, 감자, 맥주

장바구니에는 ['맥주', '호박, 소주, 감자, 맥주']들이 있습니다.

In [28]:
# FIFO출력(큐 출력)
bag.pop(0)
print(f'{hand}을 꺼내서 장바구니에 {bag}가 남았습니다')

3을 꺼내서 장바구니에 ['호박, 소주, 감자, 맥주']가 남았습니다

In [35]:
# 선택 출력
bag = ['호박', '감자', '소주', '맥주', '피자']
print(f'바구니에 {bag} 물품이 있습니다.')
bring = input('꺼내고 싶은 물품을 입력하세요.')
hand2 = bag.pop(bag.index(bring))
print(f'장바구니에서 {hand2} 꺼내서 {bag}이 남았습니다')

바구니에 ['호박', '감자', '소주', '맥주', '피자'] 물품이 있습니다.

꺼내고 싶은 물품을 입력하세요. 소주

장바구니에서 소주 꺼내서 ['호박', '감자', '맥주', '피자']이 남았습니다

In [33]:
# 테스트 remove는 리턴값이 없다.
choice = 33
a = [11,22,33,44,55,66]
a.remove(choice)
print(f'{choice}을(를) 제거 하였습니다.')

33을(를) 제거 하였습니다.

In [37]:
# 실습
bag = ['호박', '감자', '소주', '맥주', '피자']
# 물품 하나를 추가하기. 단, 지정한 물품 바로 뒤에 추가하기
test1 = input('추가할 물건 이름을 적어주세요.')
test2 = input('어느 물품의 뒤에 넣어둘까요?')

추가할 물건 이름을 적어주세요. 바나나
어느 물품의 뒤에 넣어둘까요? 맥주

In [39]:
bag = ['호박', '감자', '소주', '맥주', '피자']
thing = input('추가할 물건 이름을 적어주세요.')
where = input('어느 물품의 뒤에 넣어둘까요?')
위치 = bag.index(where)+ 1
bag.insert(위치,thing)
print(bag)

추가할 물건 이름을 적어주세요. 치즈
어느 물품의 뒤에 넣어둘까요? 맥주

['호박', '감자', '소주', '맥주', '치즈', '피자']

In [18]:
# 테스트
num = int(input('내가 누구게? 숫자를 입력하세요.'))
print(num + 4 , type(num))

내가 누구게? 숫자를 입력하세요. 4

8 <class 'int'>

In [ ]:
# 선입선출 FIFO - Queue 큐

# 후입선출 LIFO - stack 스택

In [17]:
# 환율 계산기 만들기
exc = 1450
dollar = int(input('원화로 계산할 달러를 입력하세요.'))
won = dollar * exc
print(f'1달러는 {exc}원 이므로\n요청하신 {dollar}달러 변환값은 {won}원 입니다.')

원화로 계산할 달러를 입력하세요. 100

1달러는 1450원 이므로
요청하신 100달러 변환값은 145000원 입니다.

In [5]:
import requests
import json
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=YgDxiUINVVfrEFiCtdhpQHMOJWCXnfNm&data=AP01'
res = requests.get(url).text
data = json.loads(res)
print(data,type(data))
data[-1]

[{'result': 1, 'cur_unit': 'AED', 'ttb': '393.73', 'tts': '401.68', 'deal_bas_r': '397.71', 'bkpr': '397', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '397', 'kftc_deal_bas_r': '397.71', 'cur_nm': '아랍에미리트 디르함'}, {'result': 1, 'cur_unit': 'AUD', 'ttb': '904.23', 'tts': '922.5', 'deal_bas_r': '913.37', 'bkpr': '913', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '913', 'kftc_deal_bas_r': '913.37', 'cur_nm': '호주 달러'}, {'result': 1, 'cur_unit': 'BHD', 'ttb': '3,835.95', 'tts': '3,913.44', 'deal_bas_r': '3,874.7', 'bkpr': '3,874', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '3,874', 'kftc_deal_bas_r': '3,874.7', 'cur_nm': '바레인 디나르'}, {'result': 1, 'cur_unit': 'BND', 'ttb': '1,069.19', 'tts': '1,090.78', 'deal_bas_r': '1,079.99', 'bkpr': '1,079', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,079', 'kftc_deal_bas_r': '1,079.99', 'cur_nm': '브루나이 달러'}, {'result': 1, 'cur_unit': 'CAD', 'ttb': '1,009.38', 'tts': '1,029.77', 'deal_bas_r': '1,019.58', 'bkpr': '1,019', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,019', 'kftc_deal_bas_r': '1,019.58', 'cur_nm': '캐나다 달러'}, {'result': 1, 'cur_unit': 'CHF', 'ttb': '1,597.47', 'tts': '1,629.74', 'deal_bas_r': '1,613.61', 'bkpr': '1,613', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,613', 'kftc_deal_bas_r': '1,613.61', 'cur_nm': '스위스 프랑'}, {'result': 1, 'cur_unit': 'CNH', 'ttb': '197.73', 'tts': '201.72', 'deal_bas_r': '199.73', 'bkpr': '199', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '199', 'kftc_deal_bas_r': '199.73', 'cur_nm': '위안화'}, {'result': 1, 'cur_unit': 'DKK', 'ttb': '201.18', 'tts': '205.25', 'deal_bas_r': '203.22', 'bkpr': '203', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '203', 'kftc_deal_bas_r': '203.22', 'cur_nm': '덴마아크 크로네'}, {'result': 1, 'cur_unit': 'EUR', 'ttb': '1,500.64', 'tts': '1,530.95', 'deal_bas_r': '1,515.8', 'bkpr': '1,515', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,515', 'kftc_deal_bas_r': '1,515.8', 'cur_nm': '유로'}, {'result': 1, 'cur_unit': 'GBP', 'ttb': '1,804.7', 'tts': '1,841.15', 'deal_bas_r': '1,822.93', 'bkpr': '1,822', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,822', 'kftc_deal_bas_r': '1,822.93', 'cur_nm': '영국 파운드'}, {'result': 1, 'cur_unit': 'HKD', 'ttb': '185.71', 'tts': '189.46', 'deal_bas_r': '187.59', 'bkpr': '187', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '187', 'kftc_deal_bas_r': '187.59', 'cur_nm': '홍콩 달러'}, {'result': 1, 'cur_unit': 'IDR(100)', 'ttb': '8.85', 'tts': '9.02', 'deal_bas_r': '8.94', 'bkpr': '8', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '8', 'kftc_deal_bas_r': '8.94', 'cur_nm': '인도네시아 루피아'}, {'result': 1, 'cur_unit': 'JPY(100)', 'ttb': '936.61', 'tts': '955.54', 'deal_bas_r': '946.08', 'bkpr': '946', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '946', 'kftc_deal_bas_r': '946.08', 'cur_nm': '일본 옌'}, {'result': 1, 'cur_unit': 'KRW', 'ttb': '0', 'tts': '0', 'deal_bas_r': '1', 'bkpr': '1', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1', 'kftc_deal_bas_r': '1', 'cur_nm': '한국 원'}, {'result': 1, 'cur_unit': 'KWD', 'ttb': '4,686.3', 'tts': '4,780.97', 'deal_bas_r': '4,733.64', 'bkpr': '4,733', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '4,733', 'kftc_deal_bas_r': '4,733.64', 'cur_nm': '쿠웨이트 디나르'}, {'result': 1, 'cur_unit': 'MYR', 'ttb': '325.42', 'tts': '331.99', 'deal_bas_r': '328.71', 'bkpr': '328', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '328', 'kftc_deal_bas_r': '328.71', 'cur_nm': '말레이지아 링기트'}, {'result': 1, 'cur_unit': 'NOK', 'ttb': '128.58', 'tts': '131.17', 'deal_bas_r': '129.88', 'bkpr': '129', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '129', 'kftc_deal_bas_r': '129.88', 'cur_nm': '노르웨이 크로네'}, {'result': 1, 'cur_unit': 'NZD', 'ttb': '817.02', 'tts': '833.53', 'deal_bas_r': '825.28', 'bkpr': '825', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '825', 'kftc_deal_bas_r': '825.28', 'cur_nm': '뉴질랜드 달러'}, {'result': 1, 'cur_unit': 'SAR', 'ttb': '385.58', 'tts': '393.37', 'deal_bas_r': '389.48', 'bkpr': '389', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '389', 'kftc_deal_bas_r': '389.48', 'cur_nm': '사우디 리얄'}, {'result': 1, 'cur_unit': 'SEK', 'ttb': '131.78', 'tts': '134.45', 'deal_bas_r': '133.12', 'bkpr': '133', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '133', 'kftc_deal_bas_r': '133.12', 'cur_nm': '스웨덴 크로나'}, {'result': 1, 'cur_unit': 'SGD', 'ttb': '1,069.19', 'tts': '1,090.78', 'deal_bas_r': '1,079.99', 'bkpr': '1,079', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,079', 'kftc_deal_bas_r': '1,079.99', 'cur_nm': '싱가포르 달러'}, {'result': 1, 'cur_unit': 'THB', 'ttb': '42.98', 'tts': '43.85', 'deal_bas_r': '43.42', 'bkpr': '43', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '43', 'kftc_deal_bas_r': '43.42', 'cur_nm': '태국 바트'}, {'result': 1, 'cur_unit': 'USD', 'ttb': '1,446.19', 'tts': '1,475.4', 'deal_bas_r': '1,460.8', 'bkpr': '1,460', 'yy_efee_r': '0', 'ten_dd_efee_r': '0', 'kftc_bkpr': '1,460', 'kftc_deal_bas_r': '1,460.8', 'cur_nm': '미국 달러'}] <class 'list'>

{'result': 1,
 'cur_unit': 'USD',
 'ttb': '1,446.19',
 'tts': '1,475.4',
 'deal_bas_r': '1,460.8',
 'bkpr': '1,460',
 'yy_efee_r': '0',
 'ten_dd_efee_r': '0',
 'kftc_bkpr': '1,460',
 'kftc_deal_bas_r': '1,460.8',
 'cur_nm': '미국 달러'}

In [6]:
import requests
import json
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=AUTHKEY1234567890&data=AP01'
res = requests.get(url).text
data = json.loads(res)
print(type(data))
result = data[-1]['deal_bas_r']
print(result,type(result))

<class 'list'>
None <class 'NoneType'>

## 튜플 자료형

## 딕셔너리 자료형

In [11]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [13]:
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-9999-1234
1118

In [14]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55}
print(al[0])
print(at[0])
print(ad[0])

11
11
11

In [15]:
# test
for l in al :
    print(1)
print('='*10)
for t in at:
    print(t)

1
1
1
1
1
==========
11
22
33
44
55

In [16]:
a = {'aa' : [1,2,3,4,5]}
print(a['aa'])

[1, 2, 3, 4, 5]

### 딕셔너리 쌍 추가, 삭제하기

In [12]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
dic['address'] = 'busan'
print(dic)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan'}